html
  head
    title="Login Page"
  body
    form(method='post', action='/login')
        label(for='username') Username
        input(name='username')
        label(for='password') Password
        input(name='password')
        input(type='submit', value='Submit')